<div class="city-container">
  <app-cities></app-cities>
  <div class="card-container">
    <mat-card>
      <div class="city">
        <mat-card-header>
          <h2>{{ city.name }}</h2>
          <h4>{{ city.country }}</h4>
        </mat-card-header>
        <mat-card-header class="weather-container">
          <h3>Weather {{ convertToCelsius(weatherData?.main?.temp) }}°F</h3>
          <h4>{{ weatherData?.weather[0]?.description }}</h4>
        </mat-card-header>
        <img mat-card-lg-image src="{{ city.image }}" alt="" />
      </div>
      <div class="posts">
        <mat-card-header>
          <h2>Posts</h2>
        </mat-card-header>
        <app-search id="searchbar"(searchEvent)="onSearch($event)"></app-search>
        <div class="select-wrapper">
          <select
            *ngIf="filteredPosts.length > 0 && searchTerm"
            (change)="onPostSelect($event)"
          >
            <option value="" disabled selected>Select a post...</option>
            <option *ngFor="let post of filteredPosts" [value]="post.title">
              {{ post.title }}
            </option>
          </select>
        </div>
        <mat-card-content>
          <app-posts [city]="city"></app-posts>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
