.tab-card-wrapper {
  background-color: white;
  border: 1px solid black;
  gap: 15px;
  width: calc(33.333% - 2rem);
  height: 100vh;
  font-family: 'Raleway', 'sans-serif';
}

.city-card {
  color: white;
}

.tab-card-content {
  display: flex;
  align-items: center;
  gap: 14px;
}