#header {
  top: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 1rem;
}

#header img {
  height: 50px;
  margin-right: 1rem;
  transition: all 0.5s ease;
}
#header img:hover, #header img:focus {
  transform: scale(1.1);
}
#header h1 {
  margin: 0;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
